@import url("https://fonts.googleapis.com/css?family=Rye&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rye", cursive;
}

body {
    background-color: #6b1900;
    background-size: cover;
}

a {
    text-decoration: none;
    color: burlywood;
}

.game-options {
    margin: 25px;
    font-size: 50px;
    display: inline-block;
}

a:hover {
    color: black;
    /*text-shadow: 0px 0px 3px white;*/
}

#title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    /*text-shadow: 0px 0px 5px white;*/
    color: burlywood;
    font-size: 100px;
    padding-top: 45px;
}

#name {
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 18%;
    font-family: "Rye", cursive;
    font-size: 32px;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
    height: 40px;
    margin-bottom: 30px;
}

::placeholder {
    /* Name option colour */
    color: white;
}

.buttons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 5px;
    background-color: #989fce;
    width: 20%;
}

#start-link {
    padding-top: 12px;
    margin-bottom: 50px;
}

div {
    text-align: center;
}

.rolesBoxButton2:hover {
    background-color: red;
    color: white;
}

.rolesBoxButton3:hover {
    background-color: #e8ce24;
    color: white;
}

.center {
    text-align: center;
}

#description_King {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Priest {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Apothecary {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Watchman {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Warden {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Knight {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Peeler {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Archer {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Assassin {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Framer {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_CultLeader {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_MadHatter {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}


/* #box{
  width:100px;
  height:100px;
  position:relative;
  background-color:red;
  animation-name: example;
  animation-duration:4s;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */