@import url("https://fonts.googleapis.com/css?family=Rye&display=swap");
body {
    background-color: #6b1900;
}

.titleOfGame {
    font-family: "Rye", cursive;
    text-align: center;
    font-size: 50px;
    color: burlywood;
}

.rolesBox {
    border-style: solid;
    border-color: black;
    width: 145px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    display: block;
    float: left;
    border-radius: 15px;
    position: relative;
}

.rolesBoxText {
    text-align: center;
    color: burlywood;
    font-size: 25px;
}

.rolesBoxButton1 {
    background-color: #6b1900;
    color: burlywood;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 10px auto;
    transition-duration: 0.4s;
    font-size: 20px;
    font-family: "Rye", cursive;
}

.rolesBoxButton2 {
    background-color: #6b1900;
    color: burlywood;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 10px auto;
    transition-duration: 0.4s;
    font-size: 20px;
    font-family: "Rye", cursive;
}

.rolesBoxButton3 {
    background-color: #6b1900;
    color: burlywood;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 10px auto;
    transition-duration: 0.4s;
    font-size: 20px;
    font-family: "Rye", cursive;
}

.rolesBoxButton1:hover {
    background-color: #4caf50;
    /* Green */
    color: white;
}

.rolesBoxButton2:hover {
    background-color: red;
    color: white;
}

.rolesBoxButton3:hover {
    background-color: #e8ce24;
    color: white;
}

.center {
    text-align: center;
}

.container {
    display: inline;
    float: left;
    height: 88%;
    border-style: hidden;
    width: 275px;
}

#description_King {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Priest {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Apothecary {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Watchman {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Warden {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Knight {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Peeler {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Archer {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Assassin {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_Framer {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_CultLeader {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

#description_MadHatter {
    display: none;
    border-style: solid;
    border-color: black;
    width: 250px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}

.charText {
    text-align: center;
    color: burlywood;
    font-size: 15px;
    font-family: "Rye", cursive;
}

.chat {
    display: inline;
    float: left;
    border-style: solid;
    border-color: black;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    display: block;
    border-radius: 15px;
    position: relative;
    width: 253px;
    min-height: 151px;
    max-height: 595px;
}

.playerList {
    border-style: solid;
    border-color: black;
    width: 145px;
    background-color: #493a37;
    margin: 4px;
    padding: 5px;
    display: block;
    float: left;
    border-radius: 15px;
    float: right;
}

.buttonList {
    background-color: #6b1900;
    color: burlywood;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 10px auto;
    transition-duration: 0.4s;
    font-size: 20px;
    font-family: "Rye", cursive;
}

.buttonList:hover {
    background-color: white;
}

#box1 {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
    left: 600px;
}

#box2 {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    animation-name: example;
    animation-duration: 4s;
    left: 700px;
}

@keyframes example {
    from {
        top: 100px;
    }
    to {
        top: 300px;
        position: fixed;
    }
}